<%= form_for(@review) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.text_area :rating, class: 'form-control' %>
  </div>
